.matchrecord .legend{
  color: #00AA00;
  font-weight: bold;
}
.matchrecord .superstar{
  color: #229900;
}
.matchrecord .star{
  color: #669900;
}
.matchrecord .emergingstar{
  color: #999900;
}
.matchrecord .veteran{
  color: #666600;
}
.matchrecord .experienced{
  color: #993300;
}
.matchrecord .rookie{
  color: #FF3300;
}